* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black; 
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px; 
    color: darkgreen
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: darkgreen;
}

.container {
    display: block; 
    margin: 20px auto; 
    text-align: center; 
    border: 1px solid darkgreen;
    background-color: lightgreen;
    overflow: auto; 
}

header{
    border: 1px solid seagreen; 
}
.rules-btn, .draw-btn {

}

.computer-player{
    display: block;
    float: left; 
    width: 'calc(50% - 2px)';
    border: 2px solid black; 
}
.computer-draw {
    float: left; 
    border: 2px solid red; 
    font-size: 62px;
    min-height: 220px;
    padding-top: 18%;

}
.player{
    display: block;
    float: right;
    width: 'calc(50% - 2px)';
    border: 2px solid black; 
}
.player-draw {
    float: right; 
    border: 2px solid red; 
    font-size: 62px;
    min-height: 220px;
    padding-top: 18%;

}
.footer {
    border: 2px solid red;  
    padding-top: 250px; 
}