@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    background: linear-gradient(to right,#00c261, #98fac9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color:black; 
}
h1{
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}
h2 {
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
}

.header{
    border: 1px solid black;

}
.nav{
    border: 1px solid red; 
}
.container {
    border: 1px solid black; 
    height: 100%; 
    width: 100%; 
}
.computer-player{
    border: 1px solid red;
}
.computer-cards{
    border: 1px solid black;
    background: white;

}
.card-table {
    border: 1px solid red; 
}
.computer-draw{
    border: 1px solid black; 
}
.player-draw{
    border: 1px solid red; 
}
.scoreboard{
    border: 1px solid black; 
    background: white;
}
.player{
    border: 1px solid red; 
}
.player-cards{
    border: 1px solid black; 
    background: white; 
}
#icon {
    display: block;
    margin: auto; 
    width: 10%;
    height: 10%;
}