@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, red,#990303);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black; 
}

h1 {
    font-family: 'Staatliches', Arial, Helvetica, sans-serif; 
    font-size: 50px; 
    color: black; 
}

h2{
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
}

.container {
    display: block; 
    margin: 20px auto; 
    text-align: center; 
    border: 3px solid white;
    background-color: #ffb8b8;
    width: 1000px; 
    height: 350px;
    /* overflow: auto;  */
}

header{
    border: 2px solid yellow; 
}
.rules-btn, .draw-btn {
    background: #990303;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    border-radius: 12px; 
    padding: 16px;
    border: 1px  
}
.rules-btn, .draw-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.computer-player{
    display: block;
    float: left; 
    width: 'calc(50% - 2px)';
    border: 2px solid white; 
}
.computer-draw {
    float: left; 
    border: 2px solid yellow; 
    width: 225px;
    height: 313px; 
    padding-top: 18%;

}
.player{
    display: block;
    float: right;
    width: 'calc(50% - 2px)';
    border: 2px solid white; 
}
.player-draw {
    background-image: "images/backs/red.svg";
    float: right; 
    border: 2px solid yellow; 
    width: 225px;
    height: 313px; 
    padding-top: 18%;

}
.footer {
    border: 2px solid white;  
    padding-top: 250px; 
}